<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/fonts.css"}}" />

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    {{!-- The blog navigation links --}}
    {{navigation}}

    <div class="site-wrapper">

      <div class="reading-time-indicator js-post-sticky-header">
        <div class="post-reading-time js-post-reading-time">
            <div class="percent js-percent-count">0%</div>
            <progress value="0" class="read-progress-indicator single" max="10152">
                <div class="progress-container">
                    <span class="progress-bar"></span>
                </div>
            </progress>
            <div class="read-estimation">
                <div class="read-estimation-content">
                    <div class="title">{{title}}</div>
                    <div class="estimated-time">
                        <span class="js-word-count">2953</span> words - <span class="eta">11 min</span> read.
                    </div>
                </div>
            </div>
        </div>
      </div>
        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The tiny footer at the very bottom --}}
        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
        </footer>

    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- reading-time plugin from https://github.com/michael-lynch/reading-time -->
    <script type="text/javascript" src="{{asset "js/reading-time.js" }}"></script>
    <script type="text/javascript" src="{{asset "js/imagesloaded.js" }}"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    {{!-- Fitvids makes video embeds responsive and awesome --}}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{!-- The main JavaScript file for Casper --}}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

    {{!-- For reading time estimation --}}
    <!-- <script async src="{{asset "js/reading-time.js" }}"></script> -->
</body>
</html>
